<div class="modal-header">
    <h3 class="modal-title text-info">This is a Modal!</h3>
</div>
<div class="modal-body">
    <p>This is a modal for the <strong>Four51 OrderCloud 2.0 Storefront</strong> It's made with Angular JS and UI-Bootstrap. You are looking at the html found in the modalContent.html file. The link to this demo of the modal was placed in 'partials/branding.html', but you can place it virtually anywhere.</p>
    <p>Here is a list of uses:</p>
    <ol>
        <li>tell users pertinent information</li>
        <li>alert users that they're leaving the site and are going to a different link</li>
        <li>display info without going to a different page (contact information, small 'FAQs', etc.)</li>
        <li>anything you need to get a message across conveniently</li>
    </ol>
</div>
<div class="modal-footer">
    <div class="row" >
        <div class="col-sm-6 col-md-4 pull-right" style="margin-bottom: 10px;">
            <a target="_blank" class="btn btn-primary " ng-click="ok()">Okay!</a>
        </div>
        <div class="col-sm-6 col-md-4 pull-left">
            <a class="btn btn-info"  ng-click="cancel()">other possible button</a>
        </div>
    </div>
</div>