<!--

This template is a workaround for the carousel not having any height by default - we insert the first slide image into the carousel <ul> and hide it from the user in order to give the <ul> something to base it's height off of.

As of right now, this is the only way to achieve a fully responsive image carousel.

-->
<ul rn-carousel rn-carousel-auto-slide="timeout" ng-show="Slides" rn-carousel-index="carouselIndex" rn-carousel-controls ng-class="{'hide-controls': !controls}">
    <img style="float:left; opacity:0;" ng-src="{{Slides[0].imageUrl}}"/>
    <li ng-repeat="slide in Slides">
        <div class="layer">
            <a ng-if="slide.linkUrl && slide.externalLink" target="_blank" ng-href="{{slide.linkUrl}}">
                <img ng-src="{{slide.imageUrl}}" />
            </a>
            <a ng-if="slide.linkUrl && !slide.externalLink" ng-href="{{slide.linkUrl}}">
                <img ng-src="{{slide.imageUrl}}" />
            </a>
            <img ng-if="!slide.linkUrl" ng-src="{{slide.imageUrl}}"/>
        </div>
    </li>
    <div rn-carousel-indicators ng-if="Slides.length > 1 && indicators" slides="Slides" rn-carousel-index="carouselIndex"></div>
</ul>
<style>
    ul[rn-carousel] {
        margin: 0 auto;
        overflow: hidden;
        padding: 0;
        white-space: nowrap;
        position: relative;
        -webkit-perspective: 1000px;
        -ms-perspective: 1000px;
        perspective: 1000px;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
    }
    ul[rn-carousel] > li {
        color: black;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        overflow: visible;
        vertical-align: top;
        position: absolute;
        left: 0;
        right: 0;
        white-space: normal;
        padding: 0;
        margin: 0;
        list-style-type: none;
        width: 100%;
        height: 100%;
        display: inline-block;
    }
    ul[rn-carousel] > li a {
        display:block;
    }
    ul[rn-carousel] img {
        max-height: none;
        max-width: 100%;
        margin: 0 auto;
    }
    /* prevent flickering when moving buffer */
    ul[rn-carousel-buffered] > li {
        display: none;
    }
    ul[rn-carousel-transition="hexagon"] {
        overflow: visible;
    }
    /* indicators */
    div[rn-carousel-indicators] {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 15px;
        text-align: center;
    }
    div.rn-carousel-indicator span {
        display: inline;
        cursor: pointer;
        color: #666;
    }
    div.rn-carousel-indicator span.active {
        color: white;
    }
    /* prev/next controls */
    ul[rn-carousel].hide-controls > .rn-carousel-controls {
        display:none;
    }
    .rn-carousel-controls {
        position:absolute;
        left:0;
        right:0;
        top: 40%;
    }
    .rn-carousel-control {
        font-family: FontAwesome;
        -webkit-transition: opacity 0.2s ease-out;
        transition: opacity 0.2s ease-out;
        font-size: 2rem;
        position: absolute;
        opacity: 0.75;
        cursor: pointer;
    }
    .rn-carousel-control:hover {
        opacity: 1;
    }
    .rn-carousel-control.rn-carousel-control-prev {
        left: 0.5em;
    }
    .rn-carousel-control.rn-carousel-control-prev:before {
        content: "\f060";
    }
    .rn-carousel-control.rn-carousel-control-next {
        right: 0.5em;
    }
    .rn-carousel-control.rn-carousel-control-next:before {
        content: "\f061";
    }
</style>
